## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [ ]:
!pip install pandas

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [4]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [6]:
# Чтение данных из файла 'titanic.csv'
# Используйте метод pd.read_csv()
# write your code here
csv_data = pd.read_csv("titanic.csv")

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [26]:
# Вывод первых 5 строк данных
# Используйте метод .head()
# write your code here

print(csv_data.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [15]:
print(csv_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [23]:
# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here
print(csv_data.isna())

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False   True  False  False   False
889        False     False   False  False  False  False  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False  False     False
4    False   True     False
..     ...    ...       ...
886  False   True     False
887  False  False     False
888  False   True     False
889  False  False     False
890  False   True     False

[891 rows x 12 columns]

Заполнение NaN

In [22]:
# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here
print(csv_data.fillna(0))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   0.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500     0        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250     0        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500     0        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000     0        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500     0        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500     0        Q

[891 rows x 12 columns]

Удаление строк с NaN

In [21]:
# Удаление строк, содержащих NaN
# Используйте метод .dropna()
# write your code here
print(csv_data.dropna())

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [44]:
# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here
print(csv_data["Name"])

# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here
print(csv_data[["PassengerId", "Name"]])

# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here
print(csv_data.loc[11])

# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here
print(csv_data.loc[(csv_data["Sex"] == "male") & (csv_data["Age"] > 30)])

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
     PassengerId                                               Name
0              1                            Braund, Mr. Owen Harris
1              2  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3                             Heikkinen, Miss. Laina
3              4       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5                           Allen, Mr. William Henry
..           ...                                                ...
886          887                              Montvila, Rev. Juozas
887          888                       Graham, Miss. Margaret Edith
888          889           Johnston, Miss. Catherine Helen "Carrie"
889          890                              Behr, Mr. Karl Howell
890          891                                Dooley, Mr. Patrick

[891 rows x 2 columns]
PassengerId                          12
Survived                              1
Pclass                                1
Name           Bonnell, Miss. Elizabeth
Sex                              female
Age                                58.0
SibSp                                 0
Parch                                 0
Ticket                           113783
Fare                              26.55
Cabin                              C103
Embarked                              S
Name: 11, dtype: object
     PassengerId  Survived  Pclass                                  Name  \
4              5         0       3              Allen, Mr. William Henry
6              7         0       1               McCarthy, Mr. Timothy J
13            14         0       3           Andersson, Mr. Anders Johan
20            21         0       2                  Fynney, Mr. Joseph J
21            22         1       2                 Beesley, Mr. Lawrence
..           ...       ...     ...                                   ...
867          868         0       1  Roebling, Mr. Washington Augustus II
872          873         0       1              Carlsson, Mr. Frans Olof
873          874         0       3           Vander Cruyssen, Mr. Victor
881          882         0       3                    Markun, Mr. Johann
890          891         0       3                   Dooley, Mr. Patrick

      Sex   Age  SibSp  Parch    Ticket     Fare        Cabin Embarked
4    male  35.0      0      0    373450   8.0500          NaN        S
6    male  54.0      0      0     17463  51.8625          E46        S
13   male  39.0      1      5    347082  31.2750          NaN        S
20   male  35.0      0      0    239865  26.0000          NaN        S
21   male  34.0      0      0    248698  13.0000          D56        S
..    ...   ...    ...    ...       ...      ...          ...      ...
867  male  31.0      0      0  PC 17590  50.4958          A24        S
872  male  33.0      0      0       695   5.0000  B51 B53 B55        S
873  male  47.0      0      0    345765   9.0000          NaN        S
881  male  33.0      0      0    349257   7.8958          NaN        S
890  male  32.0      0      0    370376   7.7500          NaN        Q

[202 rows x 12 columns]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [41]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here
print(csv_data.sort_values(by="PassengerId", ascending=True))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [60]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here
print(csv_data.groupby(by="Pclass")["Survived"].mean())

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [61]:
csv_data = pd.read_csv("titanic.csv").fillna(0)
print(csv_data.head(10))
print(csv_data.loc[csv_data["Age"] > 30])
print(csv_data.sort_values(by="Fare", ascending=False))
print(csv_data.groupby(by="Pclass")["Age"].mean())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
5      0            330877   8.4583     0        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750     0        S
8      2            347742  11.1333     0        S
9      0            237736  30.0708     0        C
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500     0        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000     0        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958     0        S
885      5    382652  29.1250     0        Q
890      0    370376   7.7500     0        Q

[305 rows x 12 columns]
     PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
88            89         1       1          Fortune, Miss. Mabel Helen
27            28         0       1      Fortune, Mr. Charles Alexander
..           ...       ...     ...                                 ...
633          634         0       1       Parr, Mr. William Henry Marsh
413          414         0       2      Cunningham, Mr. Alfred Fleming
822          823         0       1     Reuchlin, Jonkheer. John George
732          733         0       2                Knight, Mr. Robert J
674          675         0       2          Watson, Mr. Ennis Hastings

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292            0        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S
..      ...   ...    ...    ...       ...       ...          ...      ...
633    male   0.0      0      0    112052    0.0000            0        S
413    male   0.0      0      0    239853    0.0000            0        S
822    male  38.0      0      0     19972    0.0000            0        S
732    male   0.0      0      0    239855    0.0000            0        S
674    male   0.0      0      0    239856    0.0000            0        S

[891 rows x 12 columns]
Pclass
1    32.923241
2    28.091467
3    18.177026
Name: Age, dtype: float64